*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

aside {
    width: 200px;
    height: calc(100vh - 100px);
    background-color: #000000;
    overflow-y: auto;
}

main {
    width: calc(100vw - 200px);
    background-color: #141922;
}

.main-section {
    overflow-y: auto;
}
header {
    width: calc(100vw - 200px);
    height: 100px;
    background-color: rgba(8,11,18,255);
    position: fixed;
    z-index: 1;
}

footer {
    height: 100px;
    background-color: #282828;
}

.sidebar-main {
    display: flex;
}

p {
    color: white;
}


/*UTILITY*/

.justify-content-start {
    justify-content: flex-start;
}
.justify-content-end {
    justify-content: flex-end;
}

.font-size-10 {
    font-size: 10px;
}

.text-grey {
    color: #7d7f84;
}

.text-white {
    color: white;
}

.padding-10 {
    padding: 10px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-right {
    margin-right: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-120 {
    margin-top: 120px;
}

.padding-bottom {
    padding-bottom: 50px;
}

/*SIDEBAR*/
/*SIDEBAR HEAD SECTION*/
.head-sidebar ul {
    list-style-type: none;
    color: #7d7f84;
}

.head-sidebar li {
    padding: 10px;
}


.head-sidebar img {
    width: 150px;
    vertical-align: bottom;
}
.head-sidebar li img {
    width: 20px;
}

.head-img {
    padding: 20px 10px;
}

/*SIDEBAR PLAYLIST SECTION*/

.head-playlist-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head-playlist-section h4 {
    padding: 10px;
}

.head-playlist-section .fa-plus{
    color: black;
    background-color: grey;
    padding: 5px;
}

.head-playlist-section ul {
    list-style-type: none;
    color: #7d7f84;
    overflow-y: auto;
}


.head-playlist-section li {
    padding: 10px;
}

.head-playlist-section .second-col img {
    width: 20px;
    vertical-align: bottom;
    margin: 5px 0px 0px 5px;
}
.head-playlist-section hr {
    border-color: #7d7f84;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

.user-img {
    background-color: grey;
    border-radius: 50%;
}
.user-card {
    padding: 5px;
}

.user-card span{
    padding: 10px;
    font-weight: bold;
}

/*HEADER*/

.header-container {
    width: 100%;
}

.header-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    height: 100px;
}

.header-col {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 10px;
}


/*NAV BAR*/

.nav-container {
    width: 100%;
}

.nav-row {
    margin: 0 auto;
}

.nav-content {
    display: flex;
    justify-content: space-around;
}

.nav-container ul {
    display: flex;
    list-style-type: none;
    font-weight: bold;
    text-align: center;
    
}

.nav-container li {
    margin: 10px;
    cursor: pointer;
}


/*RECENTLY PLAYED SECTION*/


.container-recently-played {
    width: 100%;
}

.row-recently-played {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-recently-played {  
    text-align: center;
}

.playlist-img {
    object-fit: contain;
}

.playlist-img img {
    width: 200px;
    height: 200px;
}

/*FOR YOU SECTION*/

.container-for-you {
    width: 100%;
}

.row-for-you {
    display: flex;
    flex-wrap: wrap;
}

.col-for-you {
    text-align: center;
    margin: 0px 10px;
}


/*ARTIST SECTION*/

.container-artists-section {
    width: 100%;
    padding-bottom: 50px;
}

.row-artists-section {
    display: flex;
    flex-wrap: wrap;
}

.col-artists-section {
    text-align: center;
    margin: 0px 10px;
}
.col-artists-section img {
    border-radius: 50%;
}



/*FOOTER*/

.container-footer {
    width: 100%;
}

.row-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
}

.col-footer-30{
width: 30%;
}

.col-footer-40 {
    width: 38%;
}

.content-footer img {
    width: 50px;
    margin-left: 10px;
    vertical-align: center
}

.col-footer-30 .content-footer  {
    display: flex;
    align-items: center;
}

.col-footer-40 .content-footer  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-footer-40 ul {
    list-style: none;
    display: flex;
    color: #7d7f84;
}

.col-footer-40 li {
    padding: 10px;
}

.col-footer-30 ul {
    list-style: none;
    display: flex;
    color: #7d7f84;
}

.col-footer-30 li {
    padding: 10px;
}


/*MEDIA QUERY*/

@media screen and (max-width: 768px) {
    .nav-container ul {
        flex-wrap: wrap;
}
}

@media screen and (max-width: 576px) {
    aside {
        width: 50px;
    }

    main, header {
        width: calc(100vw - 50px);
    }

    .head-sidebar {
        display: none;
    }
    .head-playlist-section {
        display: none;
    }

}